<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="icon" type="image/x-icon" href="https://icon-library.com/images/history-icon/history-icon-0.jpg">
        <title>Code History</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
    </head>
    <body>
        <div>
            <a class="Clear">Clear History</a>
        </div>
        <fieldset>
            {% for code in history %}
            <p>Date:{{ code[2] }}<br>Time:{{ code[3] }}</p>
                <div class="grid">
                    <div id="code"><pre class="code">{{ code[0] }}</pre></div>
                    <div id="output"><pre class="output">{{ code[1] }}</pre></div>
                </div>
                <hr>
            {% endfor %}
        </fieldset>
        <script src="{{ url_for('static', filename='js/history.js') }}"></script>
    </body>
</html>