<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
		<title>C++ Compiler</title>
	</head>
	<body>
		<h1 class="login">Login</h1>
		<form onsubmit="return validateForm()" method="post">
			{% if error %}
				<p>{{ error }}</p>
			{% endif %}
			<input type="email" id="email" name="email"  placeholder="Enter email"><br>
			<input type="password" id="password" name="password" placeholder="Enter password"><br>
			<input type="submit" value="Login">
		</form>
		<br>
		<div class="newuser">
			<strong>New User?</strong><br><br>
			<a href="./signup">Sign Up</a>
		</div>
		<script src="{{ url_for('static', filename='js/login.js') }}"></script>
	</body>
</html>