<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
		<title>C++ Compiler</title>
	</head>
	<body>
		<h1 class="signup">Sign Up</h1>
		<form onsubmit="return validateForm()" method="post">
			{% if error %}
				<p>{{ error }}</p>
			{% endif %}
			<input type="text" placeholder="Username" id="username" name="username" required><br>
			<input type="email" placeholder="Email Id" id="email" name="email" required><br>
			<input type="password" placeholder="Enter Password" id="pwd" name="pwd" required><br>
			<input type="password" placeholder="Confirm Password" id="cpwd" name="cpwd" required><br>
			<input type="submit" value="Signup">
		</form>
		<br>
		<div class="olduser">
		<strong>Already Have an Acount?</strong><br><br>
		<a href="./login">Login</a>
		</div>
		<script src="{{ url_for('static', filename='js/signup.js') }}"></script>
	</body>
</html>